/* Eléments principaux de la page */

html, body
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,246,247,1) 0%, rgba(224,232,237,1) 21%, rgba(9,64,121,1) 88%); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #181818;
    font-size: 1em;
}


section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Navigation */

nav
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,246,247,1) 0%, rgba(224,232,237,1) 21%, rgba(9,64,121,1) 88%); 
}

nav a
{
    font-size: 1em;
    padding-bottom: 3px;
    text-decoration: none;
}

.navbar-brand img
{
    max-height: 50px;
}

/* Bannière */

.banniere_image
{
    margin-top: 20px;
    height: 640px;
    border-radius: 5px;
    background: url('pauvre.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

.banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    height: 30px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24, 24, 24, 0.301);
    color: white;
    font-size: 0.8em;
    text-align: center;
    
}

.bouton_rouge
{
    height: px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}


/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: black;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

aside h1
{
    font-size: 2em;
    text-align: center;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_entraide
{
    text-align: center;
}

#photo_entraide img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}


/* Footer */

footer
{
    position: center;
}

footer p
{
    color: black;
}

@media screen and (max-width: 300px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
